# Convex - Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:avid-sheep-653
EXPO_PUBLIC_CONVEX_URL=https://avid-sheep-653.convex.cloud
EXPO_PUBLIC_CONVEX_SITE_URL=https://avid-sheep-653.convex.site

# Clerk
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c2V0dGxlZC13YXNwLTkzLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_FRONTEND_API_URL=https://settled-wasp-93.clerk.accounts.dev
CLERK_WEBHOOK_SECRET=

# General Translation
EXPO_PUBLIC_GT_PROJECT_ID=
EXPO_PUBLIC_GT_DEV_API_KEY=
